<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Ruler.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
        <Ruler.Settings>
            <setting name="width" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="opacity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="savetype" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="vertical" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="top" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="locked" serializeAs="String">
                <value>False</value>
            </setting>
        </Ruler.Settings>
    </userSettings>
</configuration>
